.chat_container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.chat_history {
  flex: 1;
  width: 100%;
  text-align: left;
  padding: 10px;
  overflow: auto;
}

.chat_history::-webkit-scrollbar {
  display: none;
}

.chat {
  display: flex;
  align-items: center;
}

.message_box {
  width: 100%;
  padding-bottom: 15px;
}

.bot_item_content {
  margin-left: 5px;
  padding: 20px 35px;
  background-color: rgb(219, 226, 235);
  border-radius: 20px;
}

.user_item_content {
  color: white;
  margin-right: 10px;
  padding: 20px 35px;
  background-color: rgb(0, 141, 254);
  border-radius: 20px;
}