.chat_container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.chat_history {
  flex: 1;
  width: 100%;
  text-align: left;
  padding: 10px;
  overflow: auto;
}

.chat_history::-webkit-scrollbar {
  display: none;
}

.chat {
  display: flex;
  align-items: center;
}

.message_box {
  width: 100%;
  padding-bottom: 15px;
  /* border-top: 1px solid rgb(40, 40, 40); */
  padding-top: 15px;
}

.bot_item_content {
  margin-left: 5px;
  padding: 20px 35px;
  background-color: rgb(219, 226, 235);
  /* background-color: rgb(27, 27, 27); */
  border-radius: 20px;
  /* color: white; */
}

.user_item_content {
  color: white;
  margin-right: 10px;
  padding: 20px 35px;
  background-color: rgb(0, 141, 254);
  /* background-color: rgb(40, 40, 40); */
  border-radius: 20px;
}

/* .ant-input {
  color: white;
  background-color: rgb(40, 40, 40) !important;
}

.ant-btn {
  background-color: rgb(40, 40, 40) !important;
}

.anticon {
  color: white !important;
} */

/* .ant-input {
  color: black !important;
  background-color: white !important;
} */